extends layout

include mixins/assets

block content
  h1 #{title}

  mixin versionInfo()

  p

  if content
    pre #{content}

  if lines
    table.compare.table-condensed
      each line in lines
        tr
          td.ln 100
          td #{line}

  if imgsrc
    table.table-bordered.table-hover.table-condensed
      tr
        td(style="background-color:white")
          img(src="#{imgsrc}")
