extends layout

block content

  h1 Projects

  table.table-bordered.table-hover.table-condensed
    each project in index
      tr
        td 
          a(href="/meta/#{project.xlink}/branch") #{project.name}

