extends layout

include mixins/assets

block content
  h1 Proposal #{asset.getProposalId()}

  mixin versionInfo(snapshot, metadata.navigation)

  p

  span(style="float:right")
    a(href="/edit/#{asset.getXlink()}") edit

  h3 type: #{asset.getProposalType()}

  h3 status: #{asset.getStatus()}

  h2 sponsor(s)
  !=asset.getSponsorLinks()

  h2 title
  !=asset.getTitleLink()

  h2 content
  !=asset.getProposalContent()

  h2 rationale
  !=asset.getRationale()
