extends layout

include mixins/assets

block content

  h1 Repo Snapshot

  mixin versionInfo(commit, nav)

  hr

  .well
    !=tree

  h3 changed

  table.table-bordered.table-hover.table-condensed(width="100%")
    each asset in changed
      tr
        td 
           a(href="/view/#{asset.xlink}") #{asset.name}

  p
  h3 assets

  table.table-bordered.table-hover.table-condensed(width="100%")
    each asset in assets
      tr
        td 
           a(href="/view/#{asset.xlink}") #{asset.name}

  a(href="/meta") metadata index