extends layout

include mixins/assets

block content
  h1 Edit: #{metadata.asset.name}

  mixin editMetadata(metadata.base.xlink, asset.data)

  form(action="/strain/upload", method="post", enctype="multipart/form-data")
    input(type="file", name="photo")
    input(type="hidden", name="strain", value="#{metadata.asset.name}")
    input(type='submit',value='upload').btn.btn-primary
